.ItemListContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ItemListContainer__producto__img {
    width: auto;
    height: 150px;
}

.ItemListContainer__producto__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}