.Img2__logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Img2__logo {
        animation: Img2__logo-spin infinite 5s linear;
    }
}

@keyframes Img2__logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}